<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pablolopez.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registro"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pablolopez.myapp.MainActivity" />
        </activity>
        <activity
            android:name=".Inicio"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Notificacion"
            android:parentActivityName=".Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pablolopez.myapp.Inicio" />
        </activity>
        <activity
            android:name=".NuevoPrestamo"
            android:parentActivityName=".Inicio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pablolopez.myapp.Inicio" />
        </activity>
        <activity android:name=".Verificar" />
        <activity
            android:name=".Ayuda"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pablolopez.myapp.MainActivity" />
        </activity>
        <activity
            android:name=".AyudaRegistrarse"
            android:parentActivityName=".Ayuda">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pablolopez.myapp.Ayuda" />
        </activity>
        <activity
            android:name=".AyudaSesion"
            android:parentActivityName=".Ayuda">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pablolopez.myapp.Ayuda" />
        </activity>
        <activity
            android:name=".AyudaNuevo"
            android:parentActivityName=".Ayuda">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pablolopez.myapp.Ayuda" />
        </activity>
        <activity
            android:name=".AyudaVer"
            android:parentActivityName=".Ayuda">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pablolopez.myapp.Ayuda" />
        </activity>
        <activity
            android:name=".AyudaConfirmar"
            android:parentActivityName=".Ayuda">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pablolopez.myapp.Ayuda" />
        </activity>
        <activity
            android:name=".AyudaCerrar"
            android:parentActivityName=".Ayuda">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pablolopez.myapp.Ayuda" />
        </activity>
    </application>

</manifest>